<link rel="stylesheet" href="css/main/brand.css">
<div id="brand" class="container-fluid">
    <div id="title" class="row">
        <div class="col-md-12">
            <div class="col-lg-2 col-md-3 col-sm-4 col-md-offset-1">
                <h2>品牌制造商</h2>
            </div>
            <div id="small" class="col-lg-8 col-md-6 col-sm-8">
                <small id="small1">工厂直达消费者，剔除品牌溢价</small>
                <a href="#" class="pull-right" id="small2">
                    <small>更多制造商></small>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="wow-brand slideInLeft" data-wow-duration="2s">
        <div class="grid">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure class="effect-sadie">
                    <img src="images/brands/MUJI.jpg" alt="img02" />
                    <figcaption>
                        <h2>制造商 <span>MUJI</span></h2>
                        <p>严选精选了MUJI制造商和生产原料， 用几乎零利润的价格，剔除品牌溢价，<br> 让用户享受原品牌的品质生活。</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure class="effect-sadie">
                    <img src="images/brands/WMF.jpg" alt="img14" />
                    <figcaption>
                        <h2>制造商 <span>WMF</span></h2>
                        <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure class="effect-sadie">
                    <img src="images/25.jpg" alt="img14" />
                    <figcaption>
                        <h2>制造商 <span>UNIQLO</span></h2>
                        <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="js/controllers/main/brand.js"></script>