<link rel="stylesheet" href="css/main/brand.css">
<div id="brand" class="container-fluid">
    <div id="title" class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-1">
            <div class="col-md-2 col-sm-2">
                <h2>品牌制造商</h2>
            </div>
            <div id="small" class="col-md-10 col-sm-10">
                <small id="small1">工厂直达消费者，剔除品牌溢价</small>
                <a href="#" class="pull-right" id="small2">
                    <small>更多制造商></small>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div style="padding:8px;" class="col-md-4 col-sm-10">
                <div class="hovereffect">
                    <img class="img-responsive" src="images/brands/WMF.jpg" alt="wmf">
                    <div class="overlay">
                        <h2>WMF制造商</h2>
                        <a class="info" href="#">link here</a>
                    </div>
                </div>
            </div>
            <div style="padding:8px;" class="col-md-4 col-sm-10">
                <div class="hovereffect">
                    <img class="img-responsive" src="images/brands/WMF.jpg" alt="wmf">
                    <div class="overlay">
                        <h2>WMF制造商</h2>
                        <a class="info" href="#">link here</a>
                    </div>
                </div>
            </div>
            <div style="padding:8px;" class="col-md-4 col-sm-10">
                
                <div class="hovereffect">
                    <img class="img-responsive" src="images/brands/WMF.jpg" alt="wmf">
                    <div class="overlay">
                        <h2>WMF制造商</h2>
                        <a class="info" href="#">link here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>