<link rel="stylesheet" href="css/main/types.css">
<div id="types" class="container-fluid">
    <div id="type" class="row">
        <div class="col-lg-3 col-md-3 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-3 col-xs-offset-5 ">
            <h2>居家</h2>
            <span id="span1">回家，放松身心</span>
        </div>
        <div id="small" class="col-lg-7 col-md-7 col-sm-8 col-xs-2">
            <ul class="box1 col-lg-7 col-lg-offset-4 col-md-8 col-sm-9 col-sm-offset-1">
                <li ng-repeat="t in type"><a href="">{{t.name}}</a></li>
            </ul>
            <a href="#" id="small4" class="pull-right">
                <small>更多></small>
            </a>
        </div>
    </div>
    <div class="wow-newpro slideInLeft" data-wow-duration="4s">
        <div class="row">
            <div id="banners" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <a href="#">
                    <img src="images/home/home-banner.jpg" alt="homebanner" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="box2 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--餐厨-->
<div id="types" class="container-fluid">
    <div id="type" class="row">
        <div class="col-lg-3 col-md-3 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-3 col-xs-offset-5 ">
            <h2>餐厨</h2>
            <span id="span1">爱，囿于厨房</span>
        </div>
        <div id="small" class="col-lg-7 col-md-7 col-sm-8 col-xs-2">
            <ul class="box1 col-lg-7 col-lg-offset-4 col-md-8 col-sm-9 col-sm-offset-1">
                <li ng-repeat="t in type"><a href="">{{t.name}}</a></li>
            </ul>
            <a href="#" id="small4" class="pull-right">
                <small>更多></small>
            </a>
        </div>
    </div>
    <div class="wow-newpro slideInLeft" data-wow-duration="2s">
        <div class="row">
            <div id="banners" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <a href="#">
                    <img src="images/home/home-banner.jpg" alt="homebanner" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="box2 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--配件-->
<div id="types" class="container-fluid">
    <div id="type" class="row">
        <div class="col-lg-3 col-md-3 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-3 col-xs-offset-5 ">
            <h2>配件</h2>
            <span id="span1">配角，亦是主角</span>
        </div>
        <div id="small" class="col-lg-7 col-md-7 col-sm-8 col-xs-2">
            <ul class="box1 col-lg-7 col-lg-offset-4 col-md-8 col-sm-9 col-sm-offset-1">
                <li ng-repeat="t in type"><a href="">{{t.name}}</a></li>
            </ul>
            <a href="#" id="small4" class="pull-right">
                <small>更多></small>
            </a>
        </div>
    </div>
    <div class="wow-newpro slideInLeft" data-wow-duration="2s">
        <div class="row">
            <div id="banners" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <a href="#">
                    <img src="images/home/home-banner.jpg" alt="homebanner" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="box2 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--服装-->
<div id="types" class="container-fluid">
    <div id="type" class="row">
        <div class="col-lg-3 col-md-3 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-3 col-xs-offset-5 ">
            <h2>服装</h2>
            <span id="span1">贴身的，要亲肤</span>
        </div>
        <div id="small" class="col-lg-7 col-md-7 col-sm-8 col-xs-2">
            <ul class="box1 col-lg-7 col-lg-offset-4 col-md-8 col-sm-9 col-sm-offset-1">
                <li ng-repeat="t in type"><a href="">{{t.name}}</a></li>
            </ul>
            <a href="#" id="small4" class="pull-right">
                <small>更多></small>
            </a>
        </div>
    </div>
    <div class="wow-newpro slideInLeft" data-wow-duration="2s">
        <div class="row">
            <div id="banners" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <a href="#">
                    <img src="images/home/home-banner.jpg" alt="homebanner" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="box2 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--婴童-->
<div id="types" class="container-fluid">
    <div id="type" class="row">
        <div class="col-lg-3 col-md-3 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-3 col-xs-offset-5 ">
            <h2>婴童</h2>
            <span id="span1">爱，从心开始</span>
        </div>
        <div id="small" class="col-lg-7 col-md-7 col-sm-8 col-xs-2">
            <ul class="box1 col-lg-7 col-lg-offset-4 col-md-8 col-sm-9 col-sm-offset-1">
                <li ng-repeat="t in type"><a href="">{{t.name}}</a></li>
            </ul>
            <a href="#" id="small4" class="pull-right">
                <small>更多></small>
            </a>
        </div>
    </div>
    <div class="wow-newpro slideInLeft" data-wow-duration="2s">
        <div class="row">
            <div id="banners" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <a href="#">
                    <img src="images/home/home-banner.jpg" alt="homebanner" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="box2 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--杂货-->
<div id="types" class="container-fluid">
    <div id="type" class="row">
        <div class="col-lg-3 col-md-3 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-3 col-xs-offset-5 ">
            <h2>杂货</h2>
            <span id="span1">解忧，每个烦恼</span>
        </div>
        <div id="small" class="col-lg-7 col-md-7 col-sm-8 col-xs-2">
            <ul class="box1 col-lg-7 col-lg-offset-4 col-md-8 col-sm-9 col-sm-offset-1">
                <li ng-repeat="t in type"><a href="">{{t.name}}</a></li>
            </ul>
            <a href="#" id="small4" class="pull-right">
                <small>更多></small>
            </a>
        </div>
    </div>
    <div class="wow-newpro slideInLeft" data-wow-duration="2s">
        <div class="row">
            <div id="banners" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                <a href="#">
                    <img src="images/home/home-banner.jpg" alt="homebanner" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="box2 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
                <div class="thumbnail">
                    <a href="#">
                        <img src="images/home/baozhen1.png" alt="baozhen1" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h3><a href="#">日式蓬软太鼓抱枕</a></h3>
                        <p>￥29</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>